.st-sidebar {
  @include st-size(calc(15% - 60px), calc(100% - 100px));

  background-color: $secondary-color;
  padding: 50px 30px;

  .st-sorts {
    border-bottom: 2px solid rgba($st-white, 0.2);
    padding-bottom: 50px;
    margin: 10px 0 60px;

    .st-h4 {
      color: rgba($st-white, 0.2);
      margin: 0 0 10px;
    }

    .st-menu {
      @extend .st-list--unstyled;

      margin: 0 -30px;

      .st-menu__item {
        @include st-size(calc(100% - 60px), auto);

        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        overflow: hidden;
        padding: 15px 30px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;

        .st-svg-inline {
          @include st-size(24px);

          z-index: 1;
          fill: rgba($st-white, 0.4);
          margin-right: 10px;
        }

        span {
          z-index: 1;
          font-size: 1.5rem;
          font-weight: 400;
          letter-spacing: 0.5px;
          line-height: 1;
          color: rgba($st-white, 0.4);
        }

        &::after {
          @include st-pseudo(inline-flex, relative);
          @include st-size(8px);

          border-radius: 50%;
          background-color: transparent;
          margin: 0 0 0 auto;
          transition: background-color 0.3s ease-in-out;
        }

        &.st-active,
        &:hover {
          background-color: $st-black-two;
        }

        &.st-active::after {
            background-color: $primary-color;
        }
      }
    }
  }

  .st-btn--generate {
    margin: 0 auto;
  }
}