/*
  Event wrapper
  @author Harry Roberts
  @param {Bool} $self [false] - Whether or not to include current selector
  @link https://twitter.com/csswizardry/status/478938530342006784 Original tweet from Harry Roberts
 */
@mixin st-on-event($self: false) {
  @if $self {
    &,
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  }

  @else {
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  }
}

/* Basic stuff for pseudo elements */
@mixin st-pseudo($display: block, $position: absolute, $content: "") {
  content: $content;
  display: $display;
  position: $position;
}

/* Sets width and height */
@mixin st-size($width, $height: $width) {
  width: $width;
  height: $height;
}