/* colors */
$st-black: #000;
$st-black-two: #171d20;
$st-dark-steel: #273135;
$st-white: #fff;
$st-light-blue: #e9f0f5;
$st-orange: #fa7252;
$st-orange-two: #ae5a4a;
$st-green: #6dcab7;

$primary-color: $st-orange;
$secondary-color: $st-dark-steel;
$tertiary-color: $st-green;

/* fonts */
$st-ff-base: "Roboto", sans-serif;