/* colors */
$mk-black: #000;
$mk-black-two: #363636;
$mk-white: #fff;
$mk-green: #5dac46;

$mk-primary-color: $mk-green;
$mk-secondary-color: $mk-black-two;

/* fonts */
$mk-ff-base: "Roboto", sans-serif;