.st-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $secondary-color;

  .st-logo {
    @include st-size(calc(15% - 40px), 100%);

    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: $primary-color;
    padding: 10px 20px;

    .st-svg--logo {
      @include st-size(50px);

      fill: $st-white;
      margin-right: 10px;
    }

    .st-h1 {
      color: $st-white;
    }
  }

  .st-btn--start,
  .st-btn--stop {
    @include st-size(auto, 100%);

    position: absolute;
    display: none;
    top: 0;
    right: 0;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1.5px;
    border-radius: 0;

    padding: 15px 50px;

    &.st-active {
      display: block;
    }
  }

  .st-btn--start {
    background-color: $st-green;

    &:hover {
      background-color: $st-green-two;
    }
  }
}